#root {
    width: 50%;
    margin: 3% auto 3% auto;
}

.word-progress {
    font-size: 50px;
    margin-top: 6%;
    line-height: 50px;
}

.input-dashboard {
    text-align: center;
}

.input-dashboard button.guess-button {
    margin: 5px;
}

.game-over {
    text-align: center;
}

.game-over span {
    margin-right: 10px;
}